database/shapefiles/* filter=lfs diff=lfs merge=lfs
database/shapefiles/Municípios/BR_Municipios_2023.shp filter=lfs diff=lfs merge=lfs -text
database/shapefiles/Municípios/* filter=lfs diff=lfs merge=lfs -text
database/shapefiles/Municípios/BR_Municipios_2023.shp filter=lfs diff=lfs merge=lfs