@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  overflow: hidden;
}

.mapboxgl-ctrl-top-right {
  top: 70px !important;
}

/* Animações para os botões de camada */
@keyframes flame-pulse {
  0% {
    filter: drop-shadow(0 0 2px rgba(249, 115, 22, 0.3));
  }
  50% {
    filter: drop-shadow(0 0 5px rgba(249, 115, 22, 0.5));
  }
  100% {
    filter: drop-shadow(0 0 2px rgba(249, 115, 22, 0.3));
  }
}

.animate-flame {
  animation: flame-pulse 2s infinite;
}
